.page {
  width: 100%;
  margin: 0 auto;
  background-color: #2a2c2f;
  font-family: "Inter";
  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .page {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .page {
    width: 100%;
  }
}
