.places {
  margin: 0 auto 0;
  padding: 0;
  max-width: 984px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .places {
    width: 100%;
  }
}

@media screen and (max-width: 495px) {
  .places {
    width: 100%;
    grid-gap: none;
  }
}
