.cover__group {
  margin: 0 auto;
  padding: 243px 0;
  max-width: 656px;
  width: 100%;
  text-align: center;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 2fr;
  grid-template-areas: 
    "title"
    "main"
    "button";
}

@media screen and (max-width: 495px) {
  .cover__group {
    grid-gap: 16px;
    width: 100%;
    padding: 46px 0 0 0;
  }
}
