.place__image {
  margin: 0;
  padding: 0;
  max-width: 460px;
  width: 100%;
  grid-column: 1;
  grid-row: 2;
  grid-area: image;
}

.place__image:last-of-type {
  height: 460px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .place__image {
    width: 100%;
  }

  .place__image:last-of-type {
    height: 340px;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    width: 100%;
    grid-row: 3;
    grid-column: 1;
  }
}
