.cover__subtitle {
  margin: 0 auto;
  padding: 0;
  grid-row: 2;
  grid-column: 2;
  grid-area: main;
  max-width: 218px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  
  
}

@media screen and (max-width: 495px) {
  .cover__subtitle {
    width: 100%;
    max-width: 171px;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
  }
}
