.intro__text {
  padding: 0;
  max-width: 690px;
  width: 100%;
  grid-column: 2;
  margin: 32px 0 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

@media screen and (max-width: 768px) {
  .intro__text {
    grid-column: 2;
  }
}
