.cover {
  max-width: 1184px;
  width: 100%;
  margin: 92px auto 0;
  background-image: url(../../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.cover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  opacity: 0.3;
  z-index: -1;

  transition: 0.2s;
  transition-timing-function: ease-out;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 88px auto 0;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 100%;
    height: 254px;
    margin: 64px auto 0;
  }
}
