.place__url-heading {
  margin: 0 0 8px 0;
  padding: 0;
  text-transform: uppercase;
  color: #aaaaaa;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: .12em;
}

@media screen and (max-width: 495px) {
  .place__url-heading {
    margin: 0 0 12px 0;
    line-height: 12px;
  }
}
