@font-face {
  font-family: "Inter";
  src: url(/vendor/fonts/inter.css);
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2a2c2f;
  font-family: "Inter";
  color: #ffffff;
}

.header {
  margin: 0;
  padding: 34px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
}

.header__title {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 20px;
  font-weight: 900;
  line-height: 20px;
}

.lead {
  margin: 92px auto 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  margin: 0;
  padding: 0;
  width: 793px;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  text-align: center;
}

.lead__subtitle {
  margin: 32px 0 64px 0;
  padding: 0;
  width: 720px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
}

.lead__image {
  margin: 0;
  padding: 0;
  max-width: 984px;
}

.intro {
  margin: 92px auto 0;
  padding: 0 0 118px 0;
  max-width: 984px;
  display: flex;
  flex-direction: column;
}

.intro__title {
  width: 785px;
  margin: 0;
  padding: 0;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
}

.intro__text {
  margin: 0;
  padding: 0;
  width: 690px;
}

.intro__text:nth-of-type(1) {
  margin: 40px 0 0 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400px;
}

.intro__text:nth-last-of-type(2) {
  margin: 10px 0 0 0;
  text-align: right;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400px;

}

.intro__text:last-child {
  margin: 32px 0 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.photo-grid {
  margin: 0 auto 0;
  padding: 0;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

.photo-grid__item {
  max-width: 284px;
}

.button {

}

.places {

}

.place {

}

.place__title {

}

.place__image {

}

.place__button {

}

.place__website {

}

.place__url-heading {

}

.place__link {

}

.place__paragraph {
  
}