.intro__title {
  max-width: 785px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  grid-column: 2;
}

@media screen and (max-width: 768px) {
  .intro__title {
    grid-column: 2;
  }
}

@media screen and (max-width: 495px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
